
.glacial-top-spacer {
    transition: 0.1s;
    height: 0;
}
.gla-noti-pos-top.gla-noti-sticky {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;

}

.gla-noti {
    z-index: 9999;
    display: none;
    position: relative;
    width: 100%;
    background-color: red;
    box-sizing: border-box;
    padding: 1em;
    border-left-width: 0 !important;
    border-right-width: 0 !important;
}

.gla-noti-close-button {
    position: absolute;
    top: 50%;
    right: 1em;
    transform: translateY(-50%);
    color: inherit;
    line-height: 0;
    padding: 1em;
}

.gla-noti-close-icon {
    width: 20px;
    height: 20px;
    color: #000;
}

.gla-noti-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gla-noti-content * {
    margin: 0;
}

.gla-noti-content a.ui-button {
    margin:0 0 0 1em;
}

@media (max-width: 767px) {
    .gla-noti-content {
        flex-wrap: wrap;
    }
}
